{% extends 'layouts/layout.html' %}

{% block title %} {{ page.title }} {% endblock %}  
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
{% block content %}

    <h1 class="title">{{ page.title }}</h1>

    <span class="datetime" style="display: block; margin-top: 15px; margin-bottom: 15px; color: gray;">
        {{ page.created_at }}
    </span> 

    <p class="content" style="line-height: 25px;">
        {{ page.content|safe }}
    </p>
  

{% endblock %}
