<div id="main-wrapper">
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- BreadCrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Sistema de Rutas-->

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2023 Web Design Vincent
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>