{% extends 'base.html.twig' %}

{% block title %}

    {% if edit is defined %}
        Editar proyecto
    {% else %}
        Crear proyecto
    {% endif %}

{% endblock %}

{% block body %}

     {{parent()}}

    <div class="example-wrapper">
        <h2>
            {% if edit is defined %}
                Editar proyecto
            {% else %}
                Crear proyecto
            {% endif %}
        </h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
    </div>
    
{% endblock %}