<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
    
      <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="/assets/images/1f4f9.png" width="30" height="30" class="d-inline-block align-top" alt="">
              FAVOVIDEOS 
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" *ngIf="identity.name">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/inicio']">Mis Videos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/guardar-favorito']">Guardar Favorito</a>
            </li>
          </ul>

          <ul class="navbar-nav navbar-right" *ngIf="!identity.name">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registro']">Registro</a>
            </li>
          </ul>

          <ul class="navbar-nav navbar-right" *ngIf="identity.name">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{ identity.name + ' ' + identity.surname }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
                  <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
              </div>
            </li>
          </ul>
      </div>
  </nav> <!-- Fin de la barra de navegacion-->

  <!--Contenido-->
  <router-outlet></router-outlet>

  <br>
  <!-- Footer -->
  <footer class="navbar-expand-lg navbar-dark bg-dark">
        &copy; 2023 <strong> Web Design Vincent </strong> | Development: <strong> Holger Vicente Montalvan Ronquillo </strong>
  </footer>
  <!-- Footer -->
  
</div>