<div class="loading" *ngIf="!posts">
	Cargando...	
</div>

<div class="container-fluid mt-3" *ngIf="posts">
	<hr/>
	<div id="user-card">
		<div class="avatar_mask_profile float-left mr-3">
              <img src="{{url+'user/avatar/'+identity.image}}" class="avatar_nav" alt="Avatar" />
        </div>
        <div class="data_mask float-left col-md-10">
        	<h1>{{ user.name + ' ' + user.surname }}</h1>
        	<p [innerHTML]="user.description"></p>        	
        </div>
        <div class="clearfix"></div>
	</div>
	<hr/>
	<!--Listado de Entradas-->
	<app-post-list [posts]="posts"
				   [identity]="identity"
				   [url]="url">
	</app-post-list>
</div>

<br/><br/><br/>

