<div class="col-lg-12 mt-3 topic-box" *ngIf="topic">
	<div class="col-lg-9 float-left topic-data">

		<h1>{{topic.title}}</h1>
		<span class="badge badge-warning mr-2 ml-2" *ngIf="topic.lang">
		    	{{ topic.lang }}	    	
		</span>
		<span class="badge badge-primary">
		    	{{ topic.user.name + ' ' + topic.user.surname }}	    	
		</span>
		<span class="badge badge-light ml-2">
		    	{{ topic.date | amLocale: 'es' | amTimeAgo }}	    	
		</span>
		<p id="topic-content" class="mt-2">
			{{topic.content}}			
		</p>
		<p id="topic-content" class="mt-2" *ngIf="topic.code && topic.lang">
			<ngx-highlight-js lang="{{topic.lang.toLowerCase()}}" code="{{topic.code}}">
  			</ngx-highlight-js>			
		</p>	
	</div>

	<div class="clearfix"></div>

	<div id="comment-box" class="mt-2 col-lg-9">	
		<hr/>

		<div class="alert alert-success mt-3" *ngIf="status == 'success' && !delete">
			El comentario se agrego correctamente
		</div>

		<div class="alert alert-danger mt-3" *ngIf="status == 'error' && !delete">
			Error al agregar comentario
		</div>

		<div class="alert alert-success mt-3" *ngIf="status == 'success' && delete">
			Comentario eliminado correctamente
		</div>

		<div class="alert alert-danger mt-3" *ngIf="status == 'error' && !delete">
			Error al eliminar comentario
		</div>

		<form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity._id">

			<div class="form-group">
				<label for="content">Agrega un comentario:</label>
				<textarea name="content" class="form-control" #content="ngModel" [(ngModel)]="comment.content" required></textarea>

				<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
					El contenido no es valido
				</small>
			</div>

			<input type="submit" value="Comentar" class="btn btn-success" [disabled]="!formComment.form.valid" />
			
		</form>

		<h3>Comentarios</h3>

		<hr/>

		<ul class="list-group list-comments mb-5">
		  	<li class="list-group-item comment-item" *ngFor="let comment of topic.comments">
		  			<div class="avatar_mask float-left mr-3" *ngIf="identity._id">
                        <img *ngIf="comment.user.image" src="{{url+'avatar/'+comment.user.image}}" class="avatar_nav" />
                        <img *ngIf="!comment.user.image" src="assets/images/default.png" class="avatar_nav" />
                    </div>
		  			<span class="badge badge-primary">
		    				{{ comment.user.name + ' ' + comment.user.surname }}	    	
					</span>
					<span class="badge badge-light ml-2">
		    				{{ comment.date | amLocale: 'es' | amTimeAgo }}	    	
					</span>	
					<span class="d-block">
		    				{{comment.content}}   	
					</span>	
					<button (click)="deleteComment(comment._id)" class="btn btn-sm btn-danger float-right" *ngIf="identity && identity._id == comment.user._id">
							Borrar						
					</button>
		  	</li>
		</ul>
	</div>
</div>
